.root {
    width: 320px;
    height: 600px;
    position: relative;
    margin: 0 auto;
    -webkit-perspective: 800;
    -webkit-perspective-origin: 50% 50%;
    -webkit-transform-style: preserve-3d;
}

.tiler {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    -webkit-transition: -webkit-transform 1s ease;
    -webkit-transform-style: preserve-3d;
}

.controls {
    position: absolute;
    width: 200px;
    height: 600px;
    left: 10px;
    top: 10px;
    margin: 5px;
    padding: 10px;
    background: rgba(64, 64, 255, .25);
    -webkit-border-radius: 20px;
}

.control {
    font-size: 14px;
    line-height: 1em;
    font-family: Georgia;
    color: #000;
    text-shadow: rgba(0, 0, 0, 0.4) 0 0 5px;
    width: 100%;
    padding: 5px;
}

.controls p {
    font-size: 11px;
    line-height: 1.2em;
    font-family: Georgia;
    color: #222;
    width: 100%;
}

.paginator {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -ms-box-sizing: content-box;
    box-sizing: content-box;
    padding: 10px 0 !important;
    overflow: hidden;
    margin: 0;
    padding: 0;
    text-align: center;
}

.paginator li {
    text-indent: 10000px;
    height: 8px;
    width: 8px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    margin-left: 0.5em;
}

.middle {
    font: 1em Verdana, Arial, Geneva, Helvetica, sans-serif;
    position: absolute;
    text-align: center;
    top: 20px;
    left: 30px;
}

.current-page {
    background: rgba(0, 0, 0, 0.8);
}

.not-current-page {
    background: rgba(0, 0, 0, 0.4);
}