.page_tutorials {
}

  .page_tutorials .pagetitle {
    text-align: center;
    font-size: 80px;
    line-height: 1em;
    margin: 0 0 40px 0;
    padding: 0;
    font-weight: normal;
  }
  .page_tutorials .timeline {
    width: 860px;
    margin: 0 auto;
    background: url(../images/shape/spacer.png) repeat-x 0 100%;
  }  

